<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入 ECharts 文件 -->
    <link href="/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/css/style.css?v=4.1.0" rel="stylesheet">
    <script src="/js/echarts.js"></script>


</head>
<body>

<div class="wrapper wrapper-content" style="padding-top: 200px">


    <div class="row">
        <div class="col-sm-3">
            <select id="slient-year" style="margin-left:150px;height:35px;width: 100px">
                <option value="2020">2020</option>
                <option value="2021">2021</option>
            </select>
            <span>年</span>
        </div>
        <div class="col-sm-3" >
            <select id="slient-month" style="height: 35px;width: 100px">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <span>月</span>
        </div>
        <div class="col-sm-3" >
            <select id="slient-day" style="margin-left:-150px;height: 35px;width: 100px">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
            <span>日</span>
        </div>

        <div class="col-sm-3" >
            <input id="slient-btn" type="button" value="确认" style="margin-left:-300px;height: 35px;width: 100px">
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <h1 style="font-weight:bold;text-align:center;">最近7天沉默用户数统计</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" style="padding-left: 60px">
            <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
            <div id="slient_count" style="width: 1000px;height:400px;"></div>
        </div>
    </div>



</div>


<!-- 全局js -->
<script src="/js/jquery.min.js?v=2.1.4"></script>
<script src="/js/bootstrap.min.js?v=3.3.6"></script>


<script type="text/javascript" th:inline="javascript">

    var dtArr = [];
    var valueArr = [];

    var data = [[${slientCountsEntity}]]

    $.each(data.data,function (n, value) {
        dtArr.push(value.dt)
        valueArr.push(value.slientCount)
    })

    // 日活跃表
    var dayChart = echarts.init(document.getElementById('slient_count'));

    // 指定图表的配置项和数据
    var colors = ['#5470C6', '#91CC75', '#EE6666'];

    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // Use axis to trigger tooltip
                type: 'shadow'        // 'shadow' as default; can also be 'line' or 'shadow'
            }
        },
        legend: {
            data: ['沉默用户数']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'value'
        },
        yAxis: {
            type: 'category',
            // data: ['2020/04/05', '2020/04/06', '2020/04/07', '2020/04/08', '2020/04/09', '2020/04/10', '2020/04/11']
            data: dtArr
        },
        series: [
            {
                name: '沉默用户数',
                type: 'bar',
                stack: 'total',
                label: {
                    show: true
                },
                emphasis: {
                    focus: 'series'
                },
                // data: [3200, 3002, 3001, 3034, 3900, 3300, 3020]
                data:valueArr
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    dayChart.setOption(option);

    //========================= 点击事件 ===========================

    $("#slient-btn").click(function () {

        var year = $("#slient-year option:selected").val();
        var month = $("#slient-month option:selected").val();
        var day = $("#slient-day option:selected").val();
        month = month.length == 2? month:'0'+month;
        day = day.length == 2?day:'0'+day;

        $.ajax({
            url: "/slient_count",
            data: year+'-'+month+'-'+day,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            success:function (data) {
                dtArr = [];
                valueArr = [];

                $.each(data.data,function (n, value) {
                    dtArr.push(value.dt)
                    valueArr.push(value.slientCount)
                })

                option = {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {            // Use axis to trigger tooltip
                            type: 'shadow'        // 'shadow' as default; can also be 'line' or 'shadow'
                        }
                    },
                    legend: {
                        data: ['沉默用户数']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: {
                        type: 'value'
                    },
                    yAxis: {
                        type: 'category',
                        // data: ['2020/04/05', '2020/04/06', '2020/04/07', '2020/04/08', '2020/04/09', '2020/04/10', '2020/04/11']
                        data: dtArr
                    },
                    series: [
                        {
                            name: '沉默用户数',
                            type: 'bar',
                            stack: 'total',
                            label: {
                                show: true
                            },
                            emphasis: {
                                focus: 'series'
                            },
                            // data: [3200, 3002, 3001, 3034, 3900, 3300, 3020]
                            data:valueArr
                        }
                    ]
                };

                // 使用刚指定的配置项和数据显示图表。
                dayChart.setOption(option);

            }

        })

    })


</script>
</body>
</html>